.container.show-nav .circle{
    transform: rotate(-70deg);
}

.circle-container{
    position: fixed;
    top: -100px;
    left: -100px;
    z-index: 10;
}

.circle{
    background-color:rgba(255, 255, 255, .1);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, .1);
}

.circle button{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: white;
}

.circle button:focus{
    outline: none;
}

.circle button#open{
    left: 60%;
    
}

.circle button#close{
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}