
/* Popup container - can be anything you want */
.popup-container-base{
    position: fixed;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    height: 80%;
    background-color:rgba(255, 255, 255, .1);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
    color: rgb(231, 42, 42);
    border-radius: 6px;

    top: 10%;
    left: 0;
    right: 0;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 5;
    justify-content: center;
}
.popup-header{  
  right: 0;
  left: 0;
  display: inline;
  justify-content: space-between;
  z-index: 5; 
}

.popup-items{
    z-index: 5;
    right: 0;
    left: 0;
    padding: 10px 30px; 
    flex-direction: row;
    align-content: center;
    align-items: flex-start; 
}

/* Toggle this class - hide and show the popup */
.show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
    z-index: 5;
  }

.hide {
  visibility: hidden;
}

img{
  border-radius: 10px;
}

.sourceCard{
  display: inline-block;
  max-width: 150px;
  max-height: 150px;
  min-width: 150px;
  min-height: 150px;
  margin: 10px;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  background-color:rgba(0, 0, 0, 0.5);
  z-index: 5; 
}
.sourceCard:hover{
  filter: brightness(110%);
  background-color: rgba(0, 0, 0, 0.40);
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}
  
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}