
/* Popup container */
.popup-container{
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    height: 80%;
    z-index: 5;
    background-color:rgba(255, 255, 255, .1);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
    color: rgb(231, 42, 42);
    border-radius: 6px;

    top: 10%;
    left: 0;
    right: 0;
    margin-left: 5%;
    margin-right: 5%;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

/* popup items (Cards) */
.popup-item{
  min-width: 250px;
  min-height: 250px;
  max-width: 250px;
  max-height: 250px;
  margin: 10px;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  background-color:rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
}

.popup-item:hover{
  filter: brightness(110%);
  background-color: rgba(0, 0, 0, 0.40);
}

/* Toggle this class - hide and show the popup */
.show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
    z-index: 5;
  }

.hide {
  visibility: hidden;
}

img{
  border-radius: 10px;
}



/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}
  
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}